<footer class="container-fluid">
    <div class="text-center text-lg-start text-white" style="background-color: var(--bs-gray-700); ">
        <div class="d-flex justify-content-between p-4" style="background-color: var(--bs-purple);">
            <div class="me-5">
                <span>Get connected with us on social networks:</span>
            </div>
            <div>
                <a href="#" class="text-white me-4 p-2 text-decoration-none">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="text-white me-4 p-2 text-decoration-none">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="text-white me-4 p-2 text-decoration-none">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#" class="text-white me-4 p-2 text-decoration-none">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="text-white me-4 p-2 text-decoration-none">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" class="text-white me-4 p-2 text-decoration-none">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        <section>
            <div class="container text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">kavifx</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            The Company is a creating free web templates, Open-source bootstrap themes created by <a class="text-decoration-none text-white" href="http://kavifx.com">Kavifx.com</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Products</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a asp-controller="Home" asp-action="web-design" class="text-white text-decoration-none">Web Design</a>
                        </p>
                        <p>
                            <a asp-controller="Home" asp-action="graphics-design" class="text-white text-decoration-none">Graphics Design</a>
                        </p>
                        <p>
                            <a asp-controller="Home" asp-action="services" class="text-white text-decoration-none">App Development</a>
                        </p>
                        <p>
                            <a asp-controller="Home" asp-action="services" class="text-white text-decoration-none">UI / UX Development</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Useful Links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a asp-controller="Home" asp-action="About" class="text-white text-decoration-none">About</a>
                        </p>
                        <p>
                            <a asp-controller="Home" asp-action="web-design" class="text-white text-decoration-none">Web Design</a>
                        </p>
                        <p>
                            <a asp-controller="Home" asp-action="graphics-design" class="text-white text-decoration-none">Graphics Design</a>
                        </p>
                        <p>
                            <a asp-controller="Home" asp-action="services" class="text-white text-decoration-none">Services</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> Kuniyamuthur,Coimbatore - 8.</p>
                        <p><i class="fas fa-envelope mr-3"></i> kaaarthikk&#64;gmail.com</p>
                        <p><i class="fas fa-phone-alt mr-3"></i> + 91 99444 66627</p>
                        <p><i class="fab fa-whatsapp mr-3"></i> + 91 88071 85627</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-3"
             style="background-color: var(--bs-gray-900)">
            Copyright&nbsp;&copy;&nbsp;Kavifx&nbsp;2014
        </div>
    </div>
</footer>
<div class="modal fade" id="logoutModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <a class="close text-decoration-none text-black large" role="button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script>
    var nav = document.querySelector('nav');
    window.addEventListener('scroll', function () {
        if (window.pageYOffset > 100) {
            nav.classList.add('bg-dark', 'shadow');
        } else {
            nav.classList.remove('bg-dark', 'shadow');
        }
    })
</script>